@import "../../variables";

$token-size: 8vh;

.hunt-token {
  position: absolute;
  width: $token-size;
  height: $token-size;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  filter: drop-shadow(0.2vh 0.2vh 0.1vh black);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
  z-index: 0;

  img {
    cursor: help;
    width: $token-size;
    display: block;
  }

  .drag-wrapper {
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;

    &.draggable {
      cursor: grab;
      will-change: transform;

      &.dragging {
        pointer-events: none;
        transition: none;
        z-index: 1000;
      }

      &:not(.dragging) {
        box-shadow: 0 0 0.1vh 0.1vh mediumvioletred;
        outline: 1px solid transparent;
        cursor: grab;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: 0 0 0.8vh 0.2vh mediumvioletred;
          animation: opacity 1.5s ease-in-out infinite alternate;
          outline: 1px solid transparent;
          border-radius: inherit;
        }
      }
    }
  }

  &.placed {
    $translate-y-artemia: $artemia-top-margin + $artemia-grid-gap + $card-height / 2 - $token-size / 2;
    z-index: 5;

    @for $i from 1 through (5) {
      &.place-#{$i} {
        transform: translateX(($i - 3) * ($card-width + $artemia-grid-gap)) translateY($translate-y-artemia);
      }
    }
    @for $i from 6 through (10) {
      &.place-#{$i} {
        transform: translateX(($i - 8) * ($card-width + $artemia-grid-gap)) translateY($translate-y-artemia + $card-height + $artemia-grid-gap);
      }
    }
    @for $i from 1 through (4) {
      &.place-#{$i}-#{$i + 1} {
        transform: translateX(($i - 3) * ($card-width + $artemia-grid-gap) + $card-width / 2 + $artemia-grid-gap / 2) translateY($translate-y-artemia);
      }
    }
    @for $i from 6 through (10) {
      &.place-#{$i}-#{$i + 1} {
        transform: translateX(($i - 8) * ($card-width + $artemia-grid-gap) + $card-width / 2 + $artemia-grid-gap / 2) translateY($translate-y-artemia + $card-height + $artemia-grid-gap);
      }
    }
    @for $i from 1 through (5) {
      &.place-#{$i}-#{$i + 5} {
        transform: translateX(($i - 3) * ($card-width + $artemia-grid-gap)) translateY($translate-y-artemia + $card-height / 2 + $artemia-grid-gap / 2);
      }
    }
  }
}

.not-alone.creature {
  .hunt-token:not(.placed) {
    $translation-y: 100vh - $card-height - $token-size - $creature-hand-bottom-margin - $default-margin;

    &.creature-token {
      transform: translateX(- $token-size - $default-margin) translateY($translation-y);
    }

    &.artemia-token {
      transform: translateY($translation-y);
    }

    &.target-token {
      transform: translateX($token-size + $default-margin) translateY($translation-y);
    }
  }
}

.not-alone:not(.creature) {
  .hunt-token {
    &:not(.placed) {
      $seat-top-translateY: $header-height + $player-panel-height - $token-size;
      $seat-middle-translateY: $header-height + $player-panel-height * 2 + $default-margin - $token-size;
      $seat-bottom-translateY: $header-height + $player-panel-height * 3 + $default-margin * 2 - $token-size;
      $seat-center-translateY: 100vh - $token-size - $default-margin * 2;

      &.creature-token {
        &.seat-left {
          $seat-left-translateX: calc(#{- $artemia-width / 2 - $default-margin * 1.5 - $token-size} - #{$calc-player-panel-width} / 2);

          &.seat-top {
            transform: translateX($seat-left-translateX) translateY($seat-top-translateY);
          }

          &.seat-middle {
            transform: translateX($seat-left-translateX) translateY($seat-middle-translateY);
          }

          &.seat-bottom {
            transform: translateX($seat-left-translateX) translateY($seat-bottom-translateY);
          }
        }

        &.seat-right {
          $seat-right-translateX: calc(#{$artemia-width / 2 + $default-margin * 0.5 - $token-size} + #{$calc-player-panel-width} / 2);

          &.seat-top {
            transform: translateX($seat-right-translateX) translateY($seat-top-translateY);
          }

          &.seat-middle {
            transform: translateX($seat-right-translateX) translateY($seat-middle-translateY);
          }

          &.seat-bottom {
            transform: translateX($seat-right-translateX) translateY($seat-bottom-translateY);
          }
        }

        &.seat-center {
          transform: translateX(- $token-size - $default-margin * 0.5) translateY($seat-center-translateY);
        }
      }

      &.artemia-token {
        &.seat-left {
          $seat-left-translateX: calc(#{- $artemia-width / 2 - $default-margin} - #{$calc-player-panel-width} / 2);

          &.seat-top {
            transform: translateX($seat-left-translateX) translateY($seat-top-translateY);
          }

          &.seat-middle {
            transform: translateX($seat-left-translateX) translateY($seat-middle-translateY);
          }

          &.seat-bottom {
            transform: translateX($seat-left-translateX) translateY($seat-bottom-translateY);
          }
        }

        &.seat-right {
          $seat-right-translateX: calc(#{$artemia-width / 2 + $default-margin} + #{$calc-player-panel-width} / 2);

          &.seat-top {
            transform: translateX($seat-right-translateX) translateY($seat-top-translateY);
          }

          &.seat-middle {
            transform: translateX($seat-right-translateX) translateY($seat-middle-translateY);
          }

          &.seat-bottom {
            transform: translateX($seat-right-translateX) translateY($seat-bottom-translateY);
          }
        }

        &.seat-center {
          transform: translateY($seat-center-translateY);
        }
      }

      &.target-token {
        &.seat-left {
          $seat-left-translateX: calc(#{- $artemia-width / 2 - $default-margin * 0.5 + $token-size} - #{$calc-player-panel-width} / 2);

          &.seat-top {
            transform: translateX($seat-left-translateX) translateY($seat-top-translateY);
          }

          &.seat-middle {
            transform: translateX($seat-left-translateX) translateY($seat-middle-translateY);
          }

          &.seat-bottom {
            transform: translateX($seat-left-translateX) translateY($seat-bottom-translateY);
          }
        }

        &.seat-right {
          $seat-right-translateX: calc(#{$artemia-width / 2 + $default-margin * 1.5 + $token-size} + #{$calc-player-panel-width} / 2);

          &.seat-top {
            transform: translateX($seat-right-translateX) translateY($seat-top-translateY);
          }

          &.seat-middle {
            transform: translateX($seat-right-translateX) translateY($seat-middle-translateY);
          }

          &.seat-bottom {
            transform: translateX($seat-right-translateX) translateY($seat-bottom-translateY);
          }
        }

        &.seat-center {
          transform: translateX($token-size + $default-margin * 0.5) translateY($seat-center-translateY);
        }
      }
    }

    &.placing {
      transition-duration: $place-hunt-token-animation;
      z-index: 5;
    }
  }
}
