@import "variables";

.card {
  $border-radius: $card-border * 2;

  border-radius: $border-radius;
  height: $card-height;
  width: $card-width;
  transform-style: preserve-3d;
  will-change: transform;

  .face {
    position: absolute;
    height: $card-image-height;
    width: $card-image-width;
    border: $card-border solid;
    border-radius: $border-radius;
    box-shadow: 0 0 0.1vh white;
    background-size: cover;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &.back:not(:only-child) {
      transform: rotateY(-180deg);
    }
  }
}

@keyframes from-flipped {
  from {
    transform: rotateY(-180deg);
  }
}

.draggable {
  .card {
    will-change: transform, opacity;
    outline: 1px solid transparent;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      animation: opacity 1.5s ease-in-out infinite alternate;
      outline: 1px solid transparent;
      border-radius: 1vh;
    }
  }

  .place-card, .survival-card {
    box-shadow: 0 0 0.1vh 0.1vh deepskyblue;

    &:after {
      box-shadow: 0 0 0.8vh 0.2vh deepskyblue;
    }
  }

  .hunt-card {
    box-shadow: 0 0 0.1vh 0.1vh mediumvioletred;

    &:after {
      box-shadow: 0 0 0.8vh 0.2vh mediumvioletred;
    }
  }

  &.dragging .card {
    opacity: 0.5;
  }
}
