@import "setup";
@import "card";
@import "variables";
@import "../util/deck";

.not-alone {
  position: relative;
  height: 100%;
  min-width: 16 / 9 * 100vh;
  background: url(background.jpg);
  overflow: hidden;
  z-index: 0;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;

  header {
    $padding: 0.5vh;
    $height: $header-height - $padding * 2;
    color: antiquewhite;
    height: $height;
    padding: $padding;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);

    h1 {
      font-size: 4vh;
      line-height: $height;
      margin: 0;
    }

    button {
      padding: 0.5vh;
      border-radius: 0.5vh;
    }
  }

  > .phase {
    position: absolute;
    color: antiquewhite;
    font-size: 2vh;
    line-height: 1;
    margin: 0;
    padding: 1vh;
    border-radius: 1vh;
    border: 0.2vh solid darkblue;
    top: $header-height + $default-margin;
    left: calc(#{$calc-player-panel-width} + #{$board-height + $default-margin * 2});
    background: rgba(255, 255, 255, 0.2);
  }

  .hunt-cards-deck, .survival-cards-deck {
    position: absolute;
    cursor: help;

    @include deck($card-width, $card-height, $decks-max-cards-displayed, $decks-card-shift-x, $decks-card-shift-y);
  }

  .pass-button {
    position: absolute;
    top: $header-height;
    bottom: 100vh - $artemia-top-margin;
    height: 4vh;
    margin: auto;
    right: calc(#{$calc-player-panel-width} + #{$board-height + 3 * $default-margin});
  }

  &.hunted {
    .hunt-cards-deck {
      top: $header-height + $default-margin;
      right: $default-margin;
    }

    .survival-cards-deck {
      bottom: $default-margin;
      right: $default-margin;
    }
  }

  &:not(.hunted) {
    .hunt-cards-deck {
      bottom: $default-margin;
      left: $default-margin;
    }

    .survival-cards-deck {
      top: $header-height + $default-margin;
      left: $default-margin;
    }
  }
}

.card-big {
  background: rgba(0, 0, 0, 0.5);
  $scale: 3.5;

  > :last-child {
    background: none !important;
    box-shadow: none !important;
    top: 50% !important;
    left: 50% !important;
    width: $card-width * $scale;
    height: $card-height * $scale;
    transform: translate(-50%, -50%) !important;

    .card {
      transform-origin: top left;
      transform: scale($scale);

      .face {
        box-shadow: none;
      }
    }
  }
}

@keyframes from-transform-none {
  from {
    transform: none;
  }
}

@keyframes to-transform-none {
  to {
    transform: none;
  }
}