@import "../variables";

.place-card-discarded {
  cursor: help;
  border-radius: $card-border * 2;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  will-change: transform;

  @for $index from 1 through 10 {
    &:nth-child(#{$index}) {
      $left: ($index - 1) % 4 * 5vh;
      $top: floor(($index - 1) / 4) * 5vh;
      transform: translate($left, $top);
    }
  }
}