@import "../../variables";

.hunted-player-discard {
  position: absolute;
  height: 8.6vh;
  bottom: 0.5vh;
  right: 0.5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;

  .discarded-place {
    height: 3.2vh;
    width: 3.2vh;
    margin: 0.3vh;
    overflow: hidden;
    border: 0.2vh solid black;
    border-radius: 0.7vh;
    cursor: help;

    .place-card {
      position: relative;
      top: -1.5vh;
      left: -1vh;
    }
  }
}