@import "../../variables";

.place-card-played {
  cursor: help;
  border-radius: $card-border * 2;

  .place-card {
    transform: rotateY(-180deg);
    transition: transform 0.5s ease-in-out;
    transform-origin: bottom;
    will-change: transform;

    @media (hover) {
      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &.playing {
    display: none;
  }

  &.revealing {
    .place-card {
      transform: none;
      animation: revealing $revealing-place-card-animation;
    }
  }

  &.revealed {
    .place-card {
      transform: none;
    }
  }

  &.can-take-back {
    cursor: pointer;
    box-shadow: 0 0 0.1vh 0.1vh deepskyblue;
    outline: 1px solid transparent;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0.8vh 0.2vh deepskyblue;
      animation: opacity 1.5s ease-in-out infinite alternate;
      outline: 1px solid transparent;
      border-radius: inherit;
    }
  }
}