@import "variables";

.not-alone .card {
  $border-radius: $card-border * 2;

  border-radius: $border-radius;
  height: $card-height;
  width: $card-width;
  transform-style: preserve-3d;

  img {
    border: $card-border solid;
    border-radius: $border-radius;
    position: absolute;
    height: $card-image-height;
    width: $card-image-width;
    -webkit-backface-visibility: hidden;
    filter: drop-shadow($card-border $card-border $card-border black);
  }

  .face {
    backface-visibility: hidden;

    &.back:not(:only-child) {
      transform: rotateY(-180deg);
    }
  }
}
