.not-alone {
  position: relative;
  height: 100%;
  min-width: calc(1600vh / 9);
  background: url(img/universe.jpg);
  overflow-y: hidden;
  z-index: 0;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.not-alone .information {
  color: antiquewhite;
  font-size: 4vh;
  line-height: 1;
  padding: 1.5vh;
  text-align: center;
  margin: 0;
  background: rgba(255, 255, 255, 0.2);
}

.card {
  height: 21vh;
  width: calc(20vh * 5 / 7 + 1vh);
  transform-style: preserve-3d;
}
.card img {
  border: 0.5vh solid;
  border-radius: 1vh;
  position: absolute;
  height: 20vh;
  width: calc(20vh * 5 / 7);
  -webkit-backface-visibility: hidden;
}
.card .face {
  backface-visibility: hidden;
}
.card .face.back:not(:only-child) {
  transform: rotateY(-180deg);
}