@import "setup";
@import "card";
@import "variables";
@import "../util/deck";

.not-alone {
  position: relative;
  height: 100%;
  min-width: 16 / 9 * 100vh;
  background: url(img/universe.jpg);
  overflow: hidden;
  z-index: 0;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;

  .information {
    $font-size: 4vh;
    color: antiquewhite;
    font-size: $font-size;
    line-height: 1;
    padding: ($header-height - $font-size) / 2;
    text-align: center;
    margin: 0;
    background: rgba(255, 255, 255, 0.2);
  }

  .board {
    position: absolute;
    width: $board-width;
    cursor: help;
  }

  .hunt-cards-deck, .survival-cards-deck {
    position: absolute;
    cursor: help;

    @include deck($card-width, $card-height, $decks-max-cards-displayed, $decks-card-shift-x, $decks-card-shift-y);

    .card:not(.drawing) .face {
      box-shadow: none;
      filter: drop-shadow(0 0 0.05vh white);
    }

    .card.drawing {
      transition: all $other-player-draw-card-pre-animation ease-in-out;
      transform: rotate(-180deg) scale($other-players-hand-scale);
    }
  }

  .pass-button {
    position: absolute;
    top: $header-height;
    bottom: 100vh - $artemia-top-margin;
    height: 4vh;
    margin: auto;
    right: calc(#{$calc-player-panel-width} + #{$board-height + 3 * $default-margin});
  }

  &.hunted {
    .board {
      transform: rotate(-90deg) translate($board-height / 2 - $board-width / 2, $board-height / 2 - $board-width / 2);
    }

    .hunt-cards-deck {
      top: $header-height + $default-margin;
      right: $default-margin;

      .card.drawing {
        $top: $other-players-hand-top - $card-height * $other-players-hand-scale / 2 - $card-height / 2;

        &.seat-left {
          left: -75.6vw;
        }

        &.seat-right {
          left: calc(21.7vh - 25vw);
        }

        &.seat-top {
          top: $top
        }

        &.seat-middle {
          top: $top + $player-panel-height + $default-margin
        }

        &.seat-bottom {
          top: $top + ($player-panel-height + $default-margin) * 2
        }
      }
    }

    .survival-cards-deck {
      bottom: $default-margin;
      right: $default-margin;

      .card.drawing {
        $top: $header-height + $card-height + $default-margin - 100vh;

        &.seat-left {
          left: -75.6vw;
        }

        &.seat-right {
          left: calc(21.7vh - 25vw);
        }

        &.seat-top {
          top: $top
        }

        &.seat-middle {
          top: $top + $player-panel-height + $default-margin
        }

        &.seat-bottom {
          top: $top + ($player-panel-height + $default-margin) * 2
        }
      }
    }
  }

  &:not(.hunted) {
    .board {
      transform: rotate(90deg) translate($board-width / 2 - $board-height / 2, calc(-100vw + #{$board-width / 2 + $board-height / 2}));
    }

    .hunt-cards-deck {
      bottom: $default-margin;
      left: $default-margin;
    }

    .survival-cards-deck {
      top: $header-height + $default-margin;
      left: $default-margin;

      .card.drawing {
        $top: $other-players-hand-top - $card-height * $other-players-hand-scale / 2 - $card-height / 2;

        &.seat-left {
          left: calc(25vw - 20.7vh);
        }

        &.seat-right {
          left: 76.3vw;
        }

        &.seat-top {
          top: $top
        }

        &.seat-middle {
          top: $top + $player-panel-height + $default-margin
        }

        &.seat-bottom {
          top: $top + ($player-panel-height + $default-margin) * 2
        }
      }
    }
  }
}
