@import "variables";

.not-alone.setup {

  .board:not(.chosen) {
    transform: none;
    width: 4606 / 886 * $board-width / 3;
    left: 0;
    right: 0;
    margin: 0 auto;

    &.board-1 {
      bottom: $board-width * 5 / 9;
    }
    &.board-2 {
      bottom: $board-width / 9;
    }
  }

  &.board-side-choice {
    > *:not(.information):not(.board) {
      display: none;
      opacity: 0;
    }

    &.creature .board {
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(0 0 0.4rem white);
      }

      &:active {
        filter: drop-shadow(0 0 0.6rem white);
      }
    }
  }

  > *:not(.information):not(.board) {
    transition: opacity $setup-animation ease;
  }

  &.board-side-animation {
    > *:not(.information):not(.board) {
      opacity: 0;
    }

    .board {
      transition: all $board-side-chosen-animation ease-in-out;

      &:not(.chosen) {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

