$header-height: 7vh;
$default-margin: 1.5vh;

$board-width: 100vh - $header-height;
$board-height: $board-width * 886 / 4606;
$board-ratio: 4606 / 886;

$card-border: 0.5vh;
$card-image-ratio: 5 / 7;
$card-image-height: 21vh;
$card-image-width: $card-image-height * $card-image-ratio;
$card-height: $card-image-height + $card-border * 2;
$card-width: $card-image-width + $card-border * 2;

$decks-max-cards-displayed: 8;
$decks-card-shift-x: 0.1vh;
$decks-card-shift-y: 0.2vh;

$artemia-top-margin: 16vh;
$artemia-grid-gap: 0.5vh;
$artemia-width: $card-width * 5 + 6 * $artemia-grid-gap;

$hand-bottom-margin: 2vh;

$player-panel-height: 21vh;
$calc-player-panel-width: calc(50vw - #{$board-height + $artemia-width / 2 + $default-margin * 2});
$other-players-hand-scale: 0.18;
$other-players-hand-top: 10vh;

$board-side-chosen-animation: 1s;
$setup-animation: 1s;
$draw-card-animation: 1s;
$other-player-draw-card-animation: 0.4s;
$playing-place-card-animation: 0.8s;