@import "../variables";

.other-player.hunted .hand {
  .survival-card, .place-card {
    will-change: transform;
  }

  .drawing .survival-card {
    animation: to-transform-none $draw-card-animation ease-in-out forwards;
  }

  .playing .hand-item-position {
    animation: to-transform-none $playing-place-card-animation ease-in-out forwards;
    z-index: 1;

    .place-card {
      animation: playing-place-card $playing-place-card-animation ease-out forwards;
    }
  }
}

@keyframes playing-place-card {
  to {
    transform: translateY($card-height / 2) scale(1 / $other-players-hand-scale) translateY($other-players-hand-top) // Reverse other player hand transformation
    translateX(calc(#{$calc-player-panel-width} / 2 - #{$default-margin})) translateY($default-margin - $player-panel-height) scale($other-players-played-place-scale) translateX(- $card-width / 2) translateY($card-height / 2) rotate(-180deg); // Then apply player place card transformation
  }
}

.not-alone.hunted .other-player.hunted {
  $survival-card-seat-top-translate-y: - $player-panel-height * 2 - $default-margin * 2 - 27.4vh;
  $survival-card-seat-middle-translate-y: - $player-panel-height - $default-margin - 27.4vh;
  $survival-card-seat-bottom-translate-y: - 27.4vh;

  &.seat-left {
    $survival-card-seat-left-transform-x: calc(-1.5 * #{$calc-player-panel-width} - #{$artemia-width + $default-margin * 3 + $card-width / 2});

    &.seat-top {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-left-transform-x) translateY($survival-card-seat-top-translate-y) rotate(180deg);
      }
    }

    &.seat-middle {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-left-transform-x) translateY($survival-card-seat-middle-translate-y) rotate(180deg);
      }
    }

    &.seat-bottom {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-left-transform-x) translateY($survival-card-seat-bottom-translate-y) rotate(180deg);
      }
    }
  }

  &.seat-right {
    $survival-card-seat-right-transform-x: calc(-0.5 * #{$calc-player-panel-width} - #{$default-margin + $card-width / 2});

    &.seat-top {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-right-transform-x) translateY($survival-card-seat-top-translate-y) rotate(180deg);
      }
    }

    &.seat-middle {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-right-transform-x) translateY($survival-card-seat-middle-translate-y) rotate(180deg);
      }
    }

    &.seat-bottom {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-right-transform-x) translateY($survival-card-seat-bottom-translate-y) rotate(180deg);
      }
    }
  }
}

.not-alone:not(.hunted) .other-player.hunted {
  $survival-card-seat-top-translate-y: - 4vh;
  $survival-card-seat-middle-translate-y: $player-panel-height + $default-margin - 4vh;
  $survival-card-seat-bottom-translate-y: $player-panel-height * 2 + $default-margin * 2 - 4vh;

  &.seat-left {
    $survival-card-seat-left-transform-x: calc(0.5 * #{$calc-player-panel-width} + #{$board-height - $card-width / 2});

    &.seat-top {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-left-transform-x) translateY($survival-card-seat-top-translate-y) rotate(180deg);
      }
    }

    &.seat-middle {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-left-transform-x) translateY($survival-card-seat-middle-translate-y) rotate(180deg);
      }
    }

    &.seat-bottom {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-left-transform-x) translateY($survival-card-seat-bottom-translate-y) rotate(180deg);
      }
    }
  }

  &.seat-right {
    $survival-card-seat-right-transform-x: calc(1.5 * #{$calc-player-panel-width} + #{$artemia-width + $board-height + $default-margin * 2 - $card-width / 2});

    &.seat-top {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-right-transform-x) translateY($survival-card-seat-top-translate-y) rotate(180deg);
      }
    }

    &.seat-middle {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-right-transform-x) translateY($survival-card-seat-middle-translate-y) rotate(180deg);
      }
    }

    &.seat-bottom {
      .hand .drawing .survival-card {
        transform: scale(1 / $other-players-hand-scale) translateX($survival-card-seat-right-transform-x) translateY($survival-card-seat-bottom-translate-y) rotate(180deg);
      }
    }
  }
}
