@import "../../util/hand";
@import "../variables";

.other-player {
  position: absolute;
  height: $player-panel-height;
  width: $calc-player-panel-width;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1vh;

  h2 {
    font-size: 2.5vh;
    margin: 1vh;
    text-align: center;
  }

  .hand {
    @include handOfCards($card-width, $card-height, 15);
    position: absolute;
    width: $card-width;
    height: $card-height;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(- $card-height / 2) scale($other-players-hand-scale) rotate(180deg) translateY(- $card-height / 2);
    cursor: help;

    &.drawing-survival-card, &.drawing-hunt-card {
      z-index: 1;
      transition: transform $other-player-draw-card-animation ease-out;

      .drawing .hand-item-position {
        z-index: 1;
        animation: from-transform-none $other-player-draw-card-animation ease-in-out;
      }
    }
  }

  &.seat-left {
    left: $board-height + $default-margin;
  }

  &.seat-right {
    right: $board-height + $default-margin;
  }

  &.seat-top {
    top: $header-height + $default-margin;
  }

  &.seat-middle {
    top: $header-height + $player-panel-height + $default-margin * 2;
  }

  &.seat-bottom {
    top: $header-height + $player-panel-height * 2 + $default-margin * 3;
  }
  &.seat-center {
    bottom: $default-margin;
    left: 0;
    right: 0;
    margin: auto;
  }
}
