@import "../../util/hand";
@import "../variables";

.other-player {
  position: absolute;
  height: $player-panel-height;
  width: $calc-player-panel-width;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1vh;

  h2 {
    font-size: 2.5vh;
    margin: 1vh;
    text-align: center;
  }

  .hand {
    @include handOfCards($card-width, $card-height, 15);
    position: absolute;
    width: $card-width;
    height: $card-height;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(- $card-height / 2) scale($other-players-hand-scale) rotate(180deg) translateY(- $card-height / 2);
    cursor: help;

    .card .face {
      box-shadow: 0 0 0.1vh white, -0.2vh 0.2vh 0.4vh black;
    }

    &.drawing-survival-card, &.drawing-hunt-card {
      z-index: 10;
      transition: transform $other-player-draw-card-animation ease-out;

      .drawing .hand-item-position {
        z-index: 1;
        animation: from-transform-none $other-player-draw-card-animation ease-in-out;
      }
    }
  }

  &.seat-left {
    left: $board-height + $default-margin;
  }

  &.seat-right {
    right: $board-height + $default-margin;
  }

  &.seat-top {
    top: $header-height + $default-margin;
  }

  &.seat-middle {
    top: $header-height + $player-panel-height + $default-margin * 2;
  }

  &.seat-bottom {
    top: $header-height + $player-panel-height * 2 + $default-margin * 3;
  }

  &.seat-center {
    bottom: $default-margin;
    left: 0;
    right: 0;
    margin: auto;
  }

  .speech-bubble {
    position: absolute;
    top: 0.5vh;
    left: 50%;
    transform: translateX(-20%) translateY(-100%);
    background: white;
    border: 0.2vh solid darkblue;
    border-radius: 2vh;
    padding: 0.5vh 1vh;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    animation: fade-out-speech 3s 2s linear;

    &:after {
      $size: 0.5vh;
      content: '';
      position: absolute;
      bottom: 1px;
      left: 25%;
      width: 0;
      height: 0;
      border: $size * 2 solid transparent;
      border-top-color: white;
      border-bottom: 0;
      border-left: 0;
      margin-left: -$size;
      margin-bottom: -$size * 2;
    }
  }
}

@keyframes fade-out-speech {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}