.artemia {
  display: grid;
  grid-gap: 0.3vh;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 29vh;
  border-radius: 1vh;
  padding: 0.3vh;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 1s 1s ease-out;
}

.not-alone.board-side-choice .artemia {
  opacity: 0;
}

.artemia .place-card {
  position: relative;
  top: 0;
  left: 0;
}

.artemia .place-card:hover {
  transition-delay: 0.5s;
  transform: scale(3);
  z-index: 100;
}

.board-side-choice .artemia {
  z-index: -1;
}

.board-side-chosen .artemia .place-card {
  transition: all 1s 1s ease-out;
}

.artemia .place1,
.artemia .place2,
.artemia .place3,
.artemia .place4,
.artemia .place5 {
  grid-row: 1;
}
.artemia .place6,
.artemia .place7,
.artemia .place8,
.artemia .place9,
.artemia .place10 {
  grid-row: 2;
}
.artemia .place1, .artemia .place6 {
  grid-column: 1;
}
.artemia .place2, .artemia .place7 {
  grid-column: 2;
}
.artemia .place3, .artemia .place8 {
  grid-column: 3;
}
.artemia .place4, .artemia .place9 {
  grid-column: 4;
}
.artemia .place5, .artemia .place10 {
  grid-column: 5;
}

.board-side-choice .artemia .place1,
.board-side-choice .artemia .place2,
.board-side-choice .artemia .place3,
.board-side-choice .artemia .place4,
.board-side-choice .artemia .place5 {
  top: -50vh;
}
.board-side-choice .artemia .place6,
.board-side-choice .artemia .place7,
.board-side-choice .artemia .place8,
.board-side-choice .artemia .place9,
.board-side-choice .artemia .place10 {
  top: 60vh;
}
.board-side-choice .artemia .place1,
.board-side-choice .artemia .place6 {
  left: -40vw;
}
.board-side-choice .artemia .place2,
.board-side-choice .artemia .place7 {
  left: -20vw;
}
.board-side-choice .artemia .place4,
.board-side-choice .artemia .place9 {
  left: 20vw;
}
.board-side-choice .artemia .place5,
.board-side-choice .artemia .place10 {
  left: 40vw;
}