@import "../variables";

.artemia {
  display: grid;
  grid-gap: $artemia-grid-gap;
  width: $artemia-width;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 18vh;
  border-radius: 1vh;
  padding: $artemia-grid-gap;
  background-color: rgba(255, 255, 255, 0.3);

  > h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    top: -4vh;
    font-size: 3vh;
    color: antiquewhite;
    height: 4vh;
    line-height: 4vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
  }

  > .place {
    z-index: 0;
    transition-property: transform, z-index;

    @for $i from 0 through (9) {
      &.place-#{$i + 1} {
        grid-row: $i / 5 + 1;
        grid-column: $i % 5 + 1;
      }
    }

    .reserve {
      color: white;
      background-color: black;
      border-bottom-left-radius: 1.5vh;
      border-bottom-right-radius: 1.5vh;
      width: 3vh;
      margin: 0 auto;
      text-align: center;
      cursor: help;
    }
  }

  .drop-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 128, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      color: antiquewhite;
      text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
    }

    &.item-over {
      background-color: rgba(0, 128, 0, 0.4);
    }
  }
}
