@import "../variables";

.artemia {
  display: grid;
  grid-gap: $artemia-grid-gap;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 18vh;
  border-radius: 1vh;
  padding: $artemia-grid-gap;
  background-color: rgba(255, 255, 255, 0.3);

  > h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    top: -4vh;
    font-size: 3vh;
    color: antiquewhite;
    height: 4vh;
    line-height: 4vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
  }

  .place-card {
    position: relative;
    top: 0;
    left: 0;
  }

  .place-card:hover {
    transition-delay: 0.5s;
    transform: scale(3);
    z-index: 100;
  }

  @for $i from 0 through (9) {
    .place-#{$i + 1} {
      grid-row: $i / 5 + 1;
      grid-column: $i % 5 + 1;
    }
  }
}
