.board-side-choice {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.board-side-choice img {
  overflow: hidden;
  object-fit: scale-down;
  margin: 20px 40px;
}

.board-side-choice img.button {
  transition: all .2s ease-in-out;
}

.board-side-choice img.button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.5rem white);
}

.board-side-choice img.button:focus {
  filter: drop-shadow(0 0 0.5rem white);
  outline: none;
}
