@import "../../util/hand-of-cards";
@import "../variables";

$hand-bottom-margin: 1vh;
$hand-card-y: 100vh - $card-height / 2 + $hand-bottom-margin;
$deck-top-card-shift-y: ($decks-max-cards-displayed - 1) * $decks-card-shift-y;

.hand {
  position: absolute;
  bottom: $hand-bottom-margin;
  height: $card-height;
  width: $card-width * 6;
  left: 0;
  right: 0;
  margin: auto;

  @include handOfCards($card-width, $card-height);

  .card-wrapper-outer {
    &.will-draw {
      &:before, .card-wrapper-inner {
        opacity: 0;
        transform: translate(calc(#{$decks-margin} - 50vw + #{$card-width} / 2), $hand-bottom-margin - $decks-margin - $deck-top-card-shift-y);
      }
      .card {
        transform: rotateY(-180deg);
      }
    }
    &.drawing {
      &:before, > .card-wrapper-inner, .card {
        transition: transform 1s ease-in-out;
      }
    }
  }

  .card.playable {
    box-shadow: 0 0 0.1vh 0.1vh deepskyblue;
    outline: 1px solid transparent;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0.8vh 0.2vh deepskyblue;
      animation: opacity 1.5s ease-in-out infinite alternate;
      outline: 1px solid transparent;
      border-radius: 1vh;
    }
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}