@import "../../util/hand-of-cards";
@import "../variables";

$hand-card-y: 100vh - $card-height / 2 + $hand-bottom-margin;
$deck-top-card-shift-y: ($decks-max-cards-displayed - 1) * $decks-card-shift-y;

.hand {
  position: absolute;
  bottom: $hand-bottom-margin;
  height: $card-height;
  width: $card-width * 6;
  left: 0;
  right: 0;
  margin: auto;

  @include handOfCards($card-width, $card-height);

  .card-wrapper-outer {
    &.will-draw {
      &:before, .card-wrapper-inner {
        opacity: 0;
      }
      .card {
        transform: rotateY(-180deg);
       }
    }
    &.drawing {
      &:before, > .card-wrapper-inner, .card {
        transition: transform $draw-card-animation ease-in-out;
      }
    }

    // Fix for Chrome bug (front face remains hidden if mouse is not moved during animation)
    &.will-draw, &.drawing {
      .card .face.front {
        backface-visibility: visible;
      }
    }

    &.dragging {
      pointer-events: none;
      .card {
        opacity: 0.5;
      }
    }

    &:not(.dragging):not(.drawing) > .card-wrapper-inner {
      transition: left 0.3s 0.3s ease-out, top 0.3s 0.3s ease-out, transform 0.3s ease-in-out;
    }
  }

  .card.playable {
    box-shadow: 0 0 0.1vh 0.1vh deepskyblue;
    outline: 1px solid transparent;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0.8vh 0.2vh deepskyblue;
      animation: opacity 1.5s ease-in-out infinite alternate;
      outline: 1px solid transparent;
      border-radius: 1vh;
    }
  }
}

.not-alone.creature .hand {
  .card-wrapper-outer.will-draw {
    &:before, .card-wrapper-inner {
      transform: translate(calc(#{$card-width / 2 + $default-margin} - 50vw), $hand-bottom-margin - $default-margin - $deck-top-card-shift-y);
    }
  }
}

.not-alone.hunted .hand {
  .card-wrapper-outer.will-draw {
    &:before, .card-wrapper-inner {
      transform: translate(calc(50vw - #{$card-width / 2 + $default-margin + $decks-card-shift-x * $decks-max-cards-displayed}),
              $hand-bottom-margin - $default-margin - $deck-top-card-shift-y);
    }
  }

  .card-wrapper-outer.playing-place-card {
    &:before, .card-wrapper-inner {
      transition: all $playing-place-card-animation ease-in-out;
      transform: translateX($artemia-width / 2 + $card-width / 2 + $default-margin);
    }
    .card {
      transition: transform $playing-place-card-animation ease-in-out;
      transform: rotateY(-180deg);
    }
  }

}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}