.other-player.hunted {
  .will-counters {
    position: absolute;
    top: 1vh;
    left: 1vh;
    display: flex;
    flex-direction: column;

    img {
      width: 3vh;
    }
  }

  .played-place-cards {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    transform: scale(0.3);
    transform-origin: bottom left;

    .card {
      cursor: help;
    }
  }
}
