@import "../variables";

.hunt-card {

  .face.front {
    background-image: url("../img/hunt-card.jpg");
  }
  .face.back {
    background-image: url("../img/hunt-card-back.jpg");
  }

  h3 {
    position: absolute;
    left: 1vh;
    right: 1vh;
    top: $card-image-height * 0.04;
    margin: auto;
    text-align: center;
    font-size: $card-image-height / 15;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
  }

  .description {
    overflow: hidden;
    position: absolute;
    top: $card-image-height * 0.58;
    left: 0.3vh;
    right: 0.3vh;
    bottom: $card-image-height * 0.09;
    font-size: $card-image-height / 17;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      -webkit-backface-visibility: hidden;
    }
  }
}