@import "../variables";

.other-player.hunted {
  .will-counters {
    position: absolute;
    top: 1vh;
    left: 1vh;
    display: flex;
    flex-direction: column;
    cursor: help;

    img {
      width: 3vh;
    }
  }

  .played-place-cards {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    transform: scale(0.3);
    transform-origin: bottom left;

    .card {
      cursor: help;
    }

    &.revealing {
      z-index: 1000;

      .card {
        animation: revealing-with-scale $revealing-place-card-animation;
      }
    }
  }
}

@keyframes revealing-with-scale {
  from {
    transform: rotateY(-180deg);
  }
  50% {
    transform: rotateY(0deg) scale(3);
  }
}
