@import "../../util/hand-of-cards";
@import "../variables";

.other-player {
  position: absolute;
  height: $player-panel-height;
  width: calc(50vw - #{$board-height + $artemia-width / 2 + $default-margin * 2});
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1vh;

  h3 {
    font-size: 2.5vh;
    margin: 1vh;
    text-align: center;
  }

  .player-hand {
    position: absolute;
    width: $card-width;
    margin: auto;
    left: 0;
    right: 0;
    top: $other-players-hand-top;
    transform: scale($other-players-hand-scale) rotate(180deg);
    cursor: help;

    @include handOfCards($card-width, $card-height, false, 20, 35deg);

    .card {
      transition: transform $other-player-draw-card-pre-animation + $other-player-draw-card-animation ease-out;
      &.will-draw {
        opacity: 0;
      }
      &.drawing {
        transition: transform $other-player-draw-card-animation ease-out;
      }
    }
  }

  &.seat-left {
    left: $board-height + $default-margin;
  }

  &.seat-right {
    right: $board-height + $default-margin;
  }

  &.seat-top {
    top: $header-height + $default-margin;
  }

  &.seat-middle {
    top: $header-height + $player-panel-height + $default-margin * 2;
  }

  &.seat-bottom {
    top: $header-height + $player-panel-height * 2 + $default-margin * 3;
  }
  &.seat-center {
    bottom: $default-margin;
    left: 0;
    right: 0;
    margin: auto;
  }
}
