@import "../../util/hand-of-cards";
@import "../variables";

$artemia-width: $card-width * 5 + 6 * $artemia-grid-gap;
$player-panel-height: 21vh;
$outer-column-width: $card-width + $decks-card-shift-x * ($decks-max-cards-displayed) + $default-margin * 2;

.other-player {
  position:absolute;
  height: $player-panel-height;
  width: calc(50% - #{$outer-column-width + $artemia-width / 2 + $default-margin});
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1vh;

  h3 {
    font-size: 2.5vh;
    margin: 1vh;
    text-align: center;
  }

  .player-hand {
    position: absolute;
    left: 0;
    right: 2vh;
    top: 10vh;
    transform: scale(0.18) rotate(180deg);

    @include handOfCards($card-width, $card-height, false, 20, 35deg);
  }

  &.seat-left {
    left: $outer-column-width;
  }

  &.seat-right {
    right: $outer-column-width;
  }

  &.seat-top {
    top: $header-height + $default-margin;
  }

  &.seat-middle {
    top: $header-height + $player-panel-height + $default-margin * 2;
  }

  &.seat-bottom {
    top: $header-height + $player-panel-height * 2 + $default-margin * 3;
  }
}
