@import "../variables";

.place-card {
  transition: all 0.3s ease-in-out;

  h3 {
    position: absolute;
    left: $card-border + $card-image-width * 0.15;
    right: $card-border + $card-image-width * 0.15;
    top: $card-border + $card-image-height * 0.73;
    margin: auto;
    text-align: center;
    font-size: $card-image-height / 18;
    text-transform: uppercase;
    font-weight: bold;
  }

  .description {
    overflow: hidden;
    position: absolute;
    top: $card-border + $card-image-height * 0.78;
    left: $card-border + $card-image-width * 0.02;
    right: $card-border + $card-image-width * 0.02;
    bottom: $card-border + $card-image-height * 0.02;
    font-size: $card-image-height / 25;
    line-height: 1.1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      margin: 0 0 $card-image-height / 200;
    }
  }

  &.place-1 .description {
    font-size: $card-image-height / 28;
  }
}
