.place-card {
  transition: all 0.3s ease-in-out;
  z-index: 0;
}
.place-card h3 {
  position: absolute;
  left: 2vh;
  right: 2vh;
  top: 15vh;
  margin: auto;
  text-align: center;
  font-size: 1.1vh;
  text-transform: uppercase;
  font-weight: bold;
}
.place-card .description {
  overflow: hidden;
  position: absolute;
  top: 16vh;
  left: 0.7vh;
  right: 0.7vh;
  bottom: 0.7vh;
  font-size: 0.8vh;
  line-height: 1.1;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.place-card .description p {
  margin: 0 0 0.1vh;
}

.place-card:hover {
  transition-delay: 0.5s;
  transform: scale(3);
  z-index: 100;
}
.place-card.place1 .description {
  font-size: 0.7vh;
}
