.survival-cards-deck {
  position: absolute;
  height: 21.8vh;
  width: calc(20vh * 5 / 7 + 1.4vh);
  cursor: help;

  .card {
    position: absolute;
    filter: drop-shadow(0 0 0.05vh white);

    @for $index from 1 through (5) {
      &:nth-child(#{$index}) {
        bottom: ($index - 1) * 0.2vh;
        right: ($index - 1) * 0.1vh;
      }
    }
  }
}
