@import "../variables";

.survival-card {
  h3 {
    position: absolute;
    left: $card-border * 2;
    right: $card-border * 2;
    top: $card-border + $card-image-height * 0.08;
    margin: auto;
    text-align: center;
    font-size: $card-image-height / 15;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
  }

  .description {
    overflow: hidden;
    position: absolute;
    top: $card-border + $card-image-height * 0.27;
    left: $card-border * 2;
    right: $card-border * 2;
    bottom: $card-border + $card-image-height * 0.2;
    font-size: $card-image-height / 16;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      -webkit-backface-visibility: hidden;
    }
  }
}