.survival-card {
  h3 {
    position: absolute;
    left: 0.5vh;
    right: 0.5vh;
    top: 2vh;
    margin: auto;
    text-align: center;
    font-size: 1.3vh;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-backface-visibility: hidden;
  }

  .description {
    overflow: hidden;
    position: absolute;
    top: 6vh;
    left: 1vh;
    right: 1vh;
    bottom: 4.7vh;
    font-size: 1.2vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      -webkit-backface-visibility: hidden;
    }
  }
}