.survival-cards-deck {
  position: absolute;
  height: 21.8vh;
  width: calc(20vh * 5 / 7 + 1.4vh);
  cursor: help;
}

.not-alone.creature .survival-cards-deck {
  top: 8vh;
  left: 1vh;
}

.not-alone.board-side-choice.creature .survival-cards-deck {
  transform: translateX(-25vh);
}

.not-alone:not(.creature) .survival-cards-deck {
  bottom: 1vh;
  right: 1vh;
}

.not-alone.board-side-choice:not(.creature) .survival-cards-deck {
  transform: translateX(25vh);
}

.not-alone.board-side-chosen .survival-cards-deck {
  transition: all 1s 1s ease-out;
}

.survival-cards-deck .card {
  position: absolute;
  filter: drop-shadow(0 0 0.05vh white);
}
.survival-cards-deck .card:nth-child(1) {
  bottom: 0;
  right: 0;
}
.survival-cards-deck .card:nth-child(2) {
  bottom: 0.2vh;
  right: 0.1vh;
}
.survival-cards-deck .card:nth-child(3) {
  bottom: 0.4vh;
  right: 0.2vh;
}
.survival-cards-deck .card:nth-child(4) {
  bottom: 0.6vh;
  right: 0.3vh;
}
.survival-cards-deck .card:nth-child(5) {
  bottom: 0.8vh;
  right: 0.4vh;
}
