@import "../variables";

.artemia {
  display: grid;
  grid-gap: $artemia-grid-gap;
  width: $artemia-width - $artemia-grid-gap * 2;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: $artemia-top-margin;
  border-radius: 1vh;
  padding: $artemia-grid-gap;
  background-color: rgba(255, 255, 255, 0.3);

  > h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    top: -4vh;
    font-size: 3vh;
    color: antiquewhite;
    height: 4vh;
    line-height: 4vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
  }

  .drop-info {
    position: absolute;
    z-index: 5;
    border-radius: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 128, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      font-size: 5vh;
      color: antiquewhite;
      text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
    }

    &.item-over {
      background-color: rgba(0, 128, 0, 0.4);
    }
  }
}
