@import "../variables";

.artemia-place {
  transition-property: transform;
  z-index: 0;

  @for $i from 0 through (9) {
    &.place-#{$i + 1} {
      grid-row: $i / 5 + 1;
      grid-column: $i % 5 + 1;
    }
  }

  $reserve-max-size: 3;

  .artemia-place-card {
    z-index: $reserve-max-size;
  }

  .reserve {
    cursor: help;

    .place-card {
      $offset: 1.5vh;
      position: relative;
      height: $offset;

      @for $card from 1 through 3 {
        &:nth-child(#{$card}) {
          z-index: $reserve-max-size - $card;
          top: $offset - $card-height
        }
      }
    }
  }
}
