@import "../../variables";

.place-card {
  transition: all 0.3s ease-in-out;

  .face.back {
    background-image: url("place-card-back.jpg");
  }

  h3 {
    position: absolute;
    left: $card-image-width * 0.15;
    right: $card-image-width * 0.15;
    top: $card-image-height * 0.75;
    margin: auto;
    text-align: center;
    font-size: $card-image-height / 18;
    text-transform: uppercase;
    font-weight: bold;
  }

  .description {
    overflow: hidden;
    position: absolute;
    top: $card-image-height * 0.8;
    left: $card-image-width * 0.01;
    right: $card-image-width * 0.01;
    bottom: 0;
    font-size: $card-image-height / 25;
    line-height: 1.1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      margin: 0 0 $card-image-height / 200;
    }
  }

  &.place-1 .description {
    font-size: $card-image-height / 28;
  }

  @for $i from 1 through 10{
    &.place-#{$i} .face.front {
      background-image: url("place-#{$i}.jpg");
    }
  }
}
